<div class="footer d-flex flex-column justify-content-center">
    <div class="footer-column-container d-flex">
        <div class="footer-column d-flex flex-column gap-4">
            <div class="footer-column-name">How Things Work</div>
            <div class="footer-column-items d-flex flex-column gap-2">
                <div class="footer-item">Publishing Idea</div>
                <div class="footer-item">Get Something from Other</div>
                <div class="footer-item">Add Friends</div>
            </div>
        </div>
        <div class="footer-column d-flex flex-column gap-4">
            <div class="footer-column-name">About Us</div>
            <div class="footer-column-items d-flex flex-column gap-2">
                <div class="footer-item">
                    <a href="/what_we_do">What We Do</a>
                </div>
                <div class="footer-item">Contact Us</div>
            </div>
        </div>
        <div class="footer-column d-flex flex-column gap-4">
            <div class="footer-column-name">Rules</div>
            <div class="footer-column-items d-flex flex-column gap-2">
                <div class="footer-item">Terms and Conditions</div>
            </div>
        </div>
    </div>

    <img src="/img/footer logo.png" alt="footer logo">
</div>