<!DOCTYPE html>
<html lang="id">

<head>
  <title>Katalog Ide - Idea House</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="styles.css">
  <style>
    #contents {
      display: flex;
      flex-flow: row;
    }
  </style>
  <script>
    function toggleProfileMenu() {
      if (document.getElementById("profile-menu").style.display == "block") {
        document.getElementById("profile-menu").style.display = "none";
      } else {
        document.getElementById("profile-menu").style.display = "block";
      }
    }

    function switchCategoryTab(newSelect) {
      if (newSelect.className != "category-tab selected") {
        oldSelect = document.getElementsByClassName("category-tab selected")[0]
        oldSelect.className = "category-tab";
        oldTab = oldSelect.id.slice(0, -"-tab".length) + "-content";
        document.getElementById(oldTab).style.display = "none";
        newSelect.className = "category-tab selected";
        newTab = newSelect.id.slice(0, -"-tab".length) + "-content";
        document.getElementById(newTab).style.display = "flex";
      }
    }
  </script>
</head>

<body>
  <header>
    <div class="header-left">
      <img class="logo" src="placeholder.png" alt="Logo"/>
      <p class="header-title">Idea House</p>
    </div>
    <div class="header-center">
      <a href="what_we_do.html" disabled>What we do?</a>
      <a>How to use</a>
    </div>    
    <!--Untuk belum masuk log
    <div class="header-right">
      <a href="login.html">Masuk log</a>
      <a href="register.html">Daftar</a>
    </div>
    --><!--Untuk sudah masuk log-->
    <div class="header-right">
      <img src="placeholder.png"/>
      <img src="placeholder.png"/>
      <img src="placeholder.png"/>
      <a>Timeline</a>
      <div class="profile-dropdown">
        <img id="profile-button" onclick="toggleProfileMenu()" src="placeholder.png"/>
        <div id="profile-menu">
          <div id="profile-menu-head">
            <img id="profile-picture" src="placeholder.png"/>
            <div>
              <p id="profile-name">Jack Separo</p>
              <p id="profile-email">jack.separo@gmail.com</p>
            </div>
          </div>
          <div id="profile-menu-list">
            <a class="profile-menu-item">Edit profil</a>
            <a class="profile-menu-item">Ide</a>
            <a class="profile-menu-item">Proyek</a>
            <a class="profile-menu-item">Liked</a>
            <a class="profile-menu-item">Fundraised</a>
          </div>
          <div id="profile-menu-logout">
            <a class="profile-menu-item">Keluar log</a>
          </div>
        </div>
    </div>
    <!-- -->
  </header>

  <main id="contents">
    <section class="catalog-category">
      <h2>Kategori</h2>
      <section class="category-tabs">
        <p class="category-tab selected" id="ideas-tab" onclick="switchCategoryTab(this)">Ide Populer</p>
        <p class="category-tab" id="fundraised-tab" onclick="switchCategoryTab(this)">Fundraised Populer</p>
        <p class="category-tab" id="home-and-kitchen-tab" onclick="switchCategoryTab(this)">Rumah & Dapur</p>
        <p class="category-tab" id="it-and-software-tab" onclick="switchCategoryTab(this)">IT & Software</p>
        <p class="category-tab" id="engineering-tab" onclick="switchCategoryTab(this)">Engineering</p>
        <p class="category-tab" id="sports-tab" onclick="switchCategoryTab(this)">Olahraga</p>
      </section>
    </section>

    <section class="catalog-idea">
      <h1>Katalog Ide</h1>
      <section id="ideas-content"> <!--Not hidden by default -->
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Virtual Reality Training to Reduce Fear of Public Speaking in Children</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Partick</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>500</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>3,1rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
          </section>
        </section>
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Framework and Application of Heat Mitigation</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Christopher</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>360</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>1,6rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
          </section>
        </section>
        <section class=idea-item>
          <section class="idea-item-left">
            <h2 class="idea-name">Do Meal Boxes Reduces Food Waste from Household?</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jessica Olivia</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>300</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>1,2rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
          </section>
        </section>
      </section>
      <section id="fundraised-content" style="display: none;">
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Creates Smart Grid Applications in Several Areas in Sukabumi</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jackson</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>895</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>6,3rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
            <button class="idea-action">Fundraised</button>
          </section>
        </section>
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Application of Polyampholytes in Emerging Technologies</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jayden B.</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>535</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>3,2rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
            <button class="idea-action">Fundraised</button>
          </section>
        </section>
        <section class=idea-item>
          <section class="idea-item-left">
            <h2 class="idea-name">Exploring Consumers Subjective Shopping Experiences in Directly Operated Luxury Brand Stores</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Caroline</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>300</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>2,1rb tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img>
            <button class="idea-action">Fundraised</button>
          </section>
        </section>
      </section>
      <section id="home-and-kitchen-content" style="display: none;">
      </section>
      <section id="it-and-software-content" style="display: none;">
      </section>
      <section id="engineering-content" style="display: none;">
      </section>
      <section id="sports-content" style="display: none;">
      </section>
    </section>
  </main>
</body>

</html> 
