<header>
    <div class="header-left">
        <a href="/"><img class="logo" src="/img/idea-house.png" alt="Logo" /></a>
    </div>
    <div class="header-center">
        <a href="/what_we_do">What we do?</a>
        <a>How to use</a>
    </div>
    <div class="header-right">
        <a href="/login">
            <div>Login</div>
        </a>
        <a href="/register">
            <div>Register</div>
        </a>
</header>

<div id="contents">
    <div class="landing-page-top">
        <a href="/idea_catalog">Home & Kitchen</a>
        <a href="/idea_catalog">Sport Utilities</a>
        <a href="/idea_catalog">IT & Software</a>
        <a href="/idea_catalog">Engineering</a>
        <a href="/idea_catalog">Fashion</a>
        <a href="/idea_catalog">Entertainment</a>
    </div>

    <div class="landing-page-intro">
        <div class="intro">
            <div class="intro-title">
                Welcome to <br>House of Idea!
            </div>
            <div class="intro-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et orci laoreet, laoreet urna non,
                bibendum nisl. Orci varius natoque penatibus.
            </div>
            <div id="intro-option">
                <a href="/login"><button id="post-button">Post Idea</button></a>
                <a href="/idea_catalog"><button id="catalog-button">Get Some Idea</button></a>
            </div>
        </div>
        <img id="lamp" src="/img/lamp.png" alt="">
    </div>

    <div class="landing-page-catalog">
        <h1><a href="/idea_catalog">Katalog Ide</a></h1>
        <h2><a href="/idea_catalog">Ide Populer</a></h2>
        <div class="idea-list">
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
        </div>

        <h2><a href="idea_catalog.html">Proyek Populer</a></h2>
        <div class="idea-list">
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
            <div class="idea-item">
                <image class="idea-thumbnail" src="/img/placeholder.png" />
                <div class="idea-desc">
                    <div class="idea-title">Title</div>
                    <div class="idea-text">Description is here</div>
                </div>
            </div>
        </div>

        <h2><a href="idea_catalog.html">Kategori</a></h2>
        <div class="category-list">
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/home-kitchen.png" />
                <div class="category-desc"><b>Home & Kitchen</b></div>
            </div>
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/software.png" />
                <div class="category-desc"><b>IT & Software</b></div>
            </div>
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/engineering.png" />
                <div class="category-desc"><b>Engineering</b></div>
            </div>
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/sport.png" />
                <div class="category-desc"><b>Sports</b></div>
            </div>
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/fashion.png" />
                <div class="category-desc"><b>Fashion</b></div>
            </div>
            <div class="category" onclick="location.href='/idea_catalog'" style="cursor: pointer">
                <image class="category-thumbnail" src="/img/entertainment.png" />
                <div class="category-desc"><b>Entertainment</b></div>
            </div>
        </div>
    </div>
</div>