<div class="form-container">
    <div class="account-form">
        <h1>Login</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>

                    <form action="/login" method="POST">
                        <input type="text" placeholder="Masukkan Email" name="email"></input>
                        <%- include('partials/password') %>
                            <br><br>
                            <button class="main-button" type="submit">Log In</button>
                            <a class="secondary" href="/register">Register</a>
                    </form>
    </div>
</div>