<div class="form-container">
    <div class="account-form">
        <h1>Login</h1>

        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>

                    <form action="/login" method="POST">
                        <input type="text" placeholder="Masukkan Email" name="email"></input>
                        <%- include('partials/password') %>
                            <p>Lupa password? Klik di <a href="#">sini</a></p>
                            <button class="main-button" type="submit">Masuk</button>
                            <a href="/register"><button class="secondary">Daftar</button></a>
                    </form>
    </div>
</div>