<!DOCTYPE html>
<html lang="id">

<head>
  <title>Keluar Log - Idea House</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="stylesheet" href="style/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html, body {
      height: 100%
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0.5, 0.5, 0.5, 0.5);
      font-family: "Inter";
    }
  </style>
</head>

<body>
  <section class="logout-popup">
    <button class="close-button">X</button>

    <h1>Konfirmasi Logout</h1>
    <p>Apakah Anda yakin ingin logout?</p>
    <button class="confirm-button">Log Out</button>
  </section>
</body>

</html>