 <!DOCTYPE html>
<html lang="id">

<head>
  <title>Notifikasi - Idea House</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="stylesheet" href="styles.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 1);
    }
  </style>
</head>

<body>

  <div class="notification-popup">
    <h2>Notifikasi</h2>

    <section class="notification-item">
      <section class="notification-description one-person">
        <img src="placeholder.png"></img>
        <p><b>Michelia</b> mulai mengikutimu</p>
      </section>
      <img class="notification-thumbnail empty"></img>
    </section>
    <section class="notification-item">
      <section class="notification-description multi-person">
        <section class="profile-picture-list">
          <img src="placeholder.png"></img>
          <img src="placeholder.png"></img>
          <img src="placeholder.png"></img>
        </section>
        <p><b>Alexander</b> dan 2 lainnya menyukai pos Idemu</p>
      </section>
      <img class="notification-thumbnail"></img>
    </section>
    <section class="notification-item">
      <section class="notification-description one-person">
        <img src="placeholder.png"></img>
        <p><b>Patrick</b> menyukai pos Proyekmu</p>
      </section>
      <img class="notification-thumbnail"></img>
    </section>
  </div>

</body>

</html> 
