<!DOCTYPE html>
<html lang="id">

<head>
  <title>Profil (Nama Pengguna) - Idea House</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="styles.css">
  <script>
    function toggleProfileMenu() {
      if (document.getElementById("profile-menu").style.display == "block") {
        document.getElementById("profile-menu").style.display = "none";
      } else {
        document.getElementById("profile-menu").style.display = "block";
      }
    }

    function switchProfileTab(newSelect) {
      if (newSelect.className != "profile-tab selected") {
        oldSelect = document.getElementsByClassName("profile-tab selected")[0]
        oldSelect.className = "profile-tab";
        oldTab = oldSelect.id.slice(0, -"-tab".length) + "-content";
        document.getElementById(oldTab).style.display = "none";
        newSelect.className = "profile-tab selected";
        newTab = newSelect.id.slice(0, -"-tab".length) + "-content";
        document.getElementById(newTab).style.display = "flex";
      }
    }
  </script>
</head>

<body>
  <header>
    <div class="header-left">
      <img class="logo" src="placeholder.png" alt="Logo"/>
      <p class="header-title">Idea House</p>
    </div>
    <div class="header-center">
      <a href="what_we_do.html" disabled>What we do?</a>
      <a>How to use</a>
    </div>    
    <!--Untuk belum masuk log
    <div class="header-right">
      <a href="login.html">Masuk log</a>
      <a href="register.html">Daftar</a>
    </div>
    --><!--Untuk sudah masuk log-->
    <div class="header-right">
      <img src="placeholder.png"/>
      <img src="placeholder.png"/>
      <img src="placeholder.png"/>
      <a>Timeline</a>
      <div class="profile-dropdown">
        <img id="profile-button" onclick="toggleProfileMenu()" src="placeholder.png"/>
        <div id="profile-menu">
          <div id="profile-menu-head">
            <img id="profile-picture" src="placeholder.png"/>
            <div>
              <p id="profile-name">Jack Separo</p>
              <p id="profile-email">jack.separo@gmail.com</p>
            </div>
          </div>
          <div id="profile-menu-list">
            <a class="profile-menu-item">Edit profil</a>
            <a class="profile-menu-item">Ide</a>
            <a class="profile-menu-item">Proyek</a>
            <a class="profile-menu-item">Liked</a>
            <a class="profile-menu-item">Fundraised</a>
          </div>
          <div id="profile-menu-logout">
            <a class="profile-menu-item">Keluar log</a>
          </div>
        </div>
    </div>
    <!-- -->
  </header>

  <main id="contents">
    <section class="profile-intro">
      <section class="profile-info">
        <img class="profile-picture" src="placeholder.png" alt="Foto profil pengguna"></img>
        <section class="profile-description">
          <section class="profile-name">
            <h1>Jack Separo</h1><!--
            <img src="placeholder.png" alt="Edit profil"></img> Hidden di Profil Publik-->
          </section><!--
          <section class="profile-data">
            <p id="data-post">10 Pos</p>
            <p id="data-follower">100 Pengikut</p>
            <p id="data-following">105 Diikuti</p>
          </section> Hidden di Profil Publik-->
          <section class="profile-interaction">
            <button>Unfollow</button>
            <img src="placeholder.png" alt="Simbol Pesan"></img>
          </section> <!--Hidden di Profil Pribadi--><!--
          <textarea class="profile-bio" placeholder="Ketik bio Anda di sini...">Interested in engineering</textarea> Hidden di Profil Publik-->
          <p class="profile-bio">Deskripsi</p><!--Hidden di Profil Pribadi -->
        </section>
      </section>
      <section class="profile-tabs">
        <p class="profile-tab selected" id="ideas-tab" onclick="switchProfileTab(this)">Ide</p>
        <p class="profile-tab" id="projects-tab" onclick="switchProfileTab(this)">Proyek</p>
        <p class="profile-tab" id="fundraised-tab" onclick="switchProfileTab(this)">Fundraised</p><!--
        <p class="profile-tab" id="likedposts-tab" onclick="switchProfileTab(this)">Pos yang Disukai</p> Hidden in Profil Publik -->
      </section>
    </section>

    <section class="profile-content">
      <section id="ideas-content"> <!--Not hidden by default -->
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">The Realization of Regular Clocking-Based </h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>10</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>70 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action">Mulai Kampanye</button> Hidden di Profil Publik -->
          </section>
        </section>
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Determination of circulation ratio of natural circulation boiler for a wide range of pressure</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>19</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>134 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action">Mulai Kampanye</button> Hidden di Profil Publik -->
          </section>
        </section>
        <section class=idea-item>
          <section class="idea-item-left">
            <h2 class="idea-name">Stakeholder Contributions to Understanding Infrastructure Impacts of The Tollroads Highway in Indonesia</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>19</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>134 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action">Mulai Kampanye</button> Hidden di Profil Publik -->
          </section>
        </section>
      </section>
      <section id="projects-content" style="display: none;">
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Managing non-trivial internet-of-things systems with conversational assistants</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>14</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>100 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action">Mulai Penggalangan Dana</button> Hidden di Profil Publik -->
          </section>
        </section>
        <section class="idea-item">
          <section class="idea-item-left">
            <h2 class="idea-name">Agility Enablers in Production Networks</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>9</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>65 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action fundraised">Fundraised</button> Hidden di Profil Publik -->
          </section>
        </section>
        <section class=idea-item>
          <section class="idea-item-left">
            <h2 class="idea-name">A hybrid method for pavement crack width measurement</h2>
            <p class="idea-description">Integer dignissim dui ac mauris ultricies pretium. Aliquam blandit, lectus eget eleifend posuere, felis arcu iaculis massa, in consequat ante leo a purus.</p>
            <section class="idea-data">
              <section class="idea-author">
                <img src="placeholder.png" alt="Foto profil pembuat pos"></img>
                <p>Jack Separo</p>
              </section>
              <section class="idea-stats">
                <section>
                  <img src="placeholder.png" alt="Gambar hati"></img>
                  <p>13</p>
                </section>
                <section>
                  <img src="placeholder.png" alt="Gambar mata"></img>
                  <p>90 tayangan</p>
                </section>
              </section>
            </section>
          </section>
          <section class="idea-item-right">
            <img class="idea-img"></img><!--
            <button class="idea-action">Mulai Penggalangan Dana</button> Hidden di Profil Publik -->
          </section>
        </section>
      </section>
      <section id="fundraised-content" style="display: none;">
      </section><!--
      <section id="likedposts-content" style="display: none;">
      </section> Hidden in Profil Publik-->
    </section>
  </main>
</body>

</html> 
