<div class="account-form" id="register-form">
    <h1>Register</h1>
    <% if (locals.errorMessage !=null) {%>
        <div class="error-message">
            <%= errorMessage %>
        </div>
        <%} %>

            <form action="/register" method="post">
                <input name="name" type="text" placeholder="Nama" required minlength="6" maxlength="21">
                <input name="email" type="email" placeholder="Email" required autocomplete="off">
                <%- include('partials/password') %>
                    <input name="password_confirm" type="password" placeholder="Konfirmasi Kata Sandi" required></input>
                    <button type="submit" class="main-button">Register</button>
                    <a class="secondary" href="/login">Log In</a>
            </form>

</div>