<div class="account-form">
    <h1>Register</h1>
    <form action="/register" method="post">
        <% if (locals.errorMessage !=null) {%>
            <%= errorMessage %>
                <%} %>
                    <input name="name" type="text" placeholder="Nama" required>
                    <input name="email" type="email" placeholder="Email" required>
                    <%- include('partials/password') %>
                        <input type="password" placeholder="Konfirmasi Kata Sandi"></input>
                        <button type="submit" class="main-button">Register</button>
                        <a class="secondary" href="/login">Log In</a>
    </form>

</div>