<header>
  <div class="header-left">
    <% if (req.isAuthenticated()) { var url="/users/" + req.user._id %>
      <a href=<%=url%>><img class="logo" src="img/idea-house.png" alt="Logo" /></a>
      <% } else { %>
        <a href="/"><img class="logo" src="img/idea-house.png" alt="Logo" /></a>
        <% } %>
          <!-- <p class="header-title">Idea House</p> -->
  </div>
  <div class="header-center">
    <a href="what_we_do">What we do?</a>
    <a>How to use</a>
  </div>
  <!--Untuk belum masuk log
      <div class="header-right">
        <a href="login.html">Masuk log</a>
        <a href="register.html">Daftar</a>
      </div>
      -->
  <!--Untuk sudah masuk log-->
  <div class="header-right">
    <div class="timeline"><a href="">Timeline</a></div>
    <a href="/upload"><span class="fa fa-plus-square-o"></span></a>
    <span class="fa fa-bell-o"></span>
    <span class="fa fa-comments-o"></span>
    <div class="profile-dropdown">
      <img id="profile-button" onclick="toggleProfileMenu()" src="img/profile8.png" />
      <div id="profile-menu">
        <div id="profile-menu-head">
          <img id="profile-picture" src="img/profile8.png" />
          <div>
            <p id="profile-name">Jack Separo</p>
            <p id="profile-email">jack.separo@gmail.com</p>
          </div>
        </div>
        <div id="profile-menu-list">
          <a class="profile-menu-item">Edit profil</a>
          <a class="profile-menu-item">Ide</a>
          <a class="profile-menu-item">Proyek</a>
          <a class="profile-menu-item">Liked</a>
          <a class="profile-menu-item">Fundraised</a>
        </div>
        <div id="profile-menu-logout">
          <a class="profile-menu-item"><span>Log Out</span></a>
        </div>
      </div>
    </div>
    <!-- -->
</header>

<div id="contents">
  <div class="what-we-do-intro">
    <h1>Wujudkan inovasimu di dunia nyata!</p>
      <p>Platform untuk membagikan ide Anda tentang produk inovatif dan berkolaborasi dengan orang lain.</p>
      <p>Mendukung dan membiayai ide-ide!</p>
  </div>

  <div class="what-we-do-main">
    <h1>Tentang Idea House</h1>
    <div>
      <div id="left">
        <div class="about-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin scelerisque enim ac
            gravida.
            Ut nec iaculis felis. Vestibulum tempus neque in tincidunt dictum. Phasellus vitae dolor id orci viverra
            malesuada quis eget dui. Cras tincidunt erat sodales massa facilisis, at finibus elit porttitor. Sed
            tincidunt suscipit elit, in semper.</p>
        </div>

        <div class="option-button">
          <a href="#"><button id="new-idea-button">Bagikan Ide Baru</button></a>
          <a href="#"><button id="other-idea-button">Lihat Ide Orang Lain</button></a>
        </div>
      </div>
      <div id="right">
        <div class="what-we-do-point">
          <img class="what-we-do-point-img" src="img/share.png" />
          <div class="what-we-do-point-text">
            <h2>Membagikan Ide</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class="what-we-do-point">
          <img class="what-we-do-point-img" src="img/collaborate.png" />
          <div class="what-we-do-point-text">
            <h2>Kolaborasi Proyek</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class="what-we-do-point">
          <img class="what-we-do-point-img" src="img/fundraise.png" />
          <div class="what-we-do-point-text">
            <h2>Penggalangan Dana</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>