<% users.forEach((user)=> { %>
    <div class="border">
        <div>
            _id : <%= user._id %>
        </div>
        <div>
            Name : <%= user.name %>
        </div>
        <div>
            Email : <%= user.email %>
        </div>
        <div>
            Password : <%= user.password %>
        </div>
    </div>
    <% }) %>